:root {
  --primary_red: #df2027;
  --sec_red: #cc2228;
  --primary_yellow: #e5c13a;
  --sec_yellow: #ffd741;
}
html,
body {
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 19px;
  box-sizing: border-box;
}
/* margin-top */
.mt-0 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}

/* margin-bottom */
.mb-0 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}

/* margin-right */
.mr-10 {
  margin-right: 10px;
}
.mr-0 {
  margin-right: 5px;
}

/* margin-left */
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

/*  padding */
.p-20 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.px-0 {
  padding-left: 5px;
  padding-right: 5px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

/* hr rules */
.br-5 {
  border-radius: 5px;
}
hr.rule {
  border: 1px solid rgb(250, 248, 248);
}
hr.dot {
  border: 1px dotted rgb(250, 249, 249);
}

.full-width {
  width: 100%;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}

/*  flex layouts */
.d-flex {
  display: flex;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex-align-center {
  display: flex;
  align-items: center;
}
.d-flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.d-flex-align-self-center {
  display: flex;
  align-self: center;
}
.d-flex-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.justify_end {
  justify-content: flex-end;
}
.section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  width: 100%;
  height: auto;
}
.cancel_prize {
  text-decoration: line-through;
  font-size: 13px;
}
.main_prize {
  font-size: 15px;
  font-weight: bold;
  color: var(--sec_red);
}
.small-icon {
  font-size: 12px;
  color: var(--primary_red);
}
.clickable {
  cursor: pointer;
}
.bg-white {
  background-color: #fff;
}
.size-13 {
  font-size: 13px;
}
.color-primary {
  color: var(--primary_red);
}
.products_div {
  max-width: 190px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  cursor: pointer;
  padding: 2px 0px 8px 0px;
  margin-right: 5px;
}
.product_name {
  width: 160px;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.slider_img {
  height: inherit;
}
